* {
    /* reset CSS */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình, ...)

*/
/* Common */

.text-white {
    /* mạnh nhất */
    color: #fff !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding: 0 8px;
}

.btn {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 16px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
}

.pull-right{
    float: right;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.col-third {
    width: 33.3333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

/* Main */
#main {
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}
#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav > li {
    /* thẻ li hiện trên cùng 1 dòng */
    display: inline-block;
}
#nav li {
    position: relative;
}

/* CSS thẻ a con trực tiếp của li và li là con trực tiếp của nav */
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
/* CSS thẻ a con của li con của nav */
#nav li a {
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
    display: block;
}

/* Css cho subnav là con của li và li là con của nav
khi trỏ chuột vào li sẽ hiện thuộc tính của subnav
*/
#nav li:hover .subnav {
    display: block;
}

/* Khai báo gộp khi dùng chung thuộc tính */
/* CSS hiện khi trỏ chuột vào thẻ li là con trực tiếP của nav */
#nav > li:hover > a,
/* Hiện trỏ chuột vào li là con của subnav và subnav con của nav */
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

/* Không hiện more */
#nav .subnav {
    display: none;
    min-width: 160px;
    /* khoảng cách bằng đúng height của thằng cha */
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    /* (22)content + (8 + 8)padding */
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/slider1.jpg') top center /
        cover no-repeat;
}
#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: #fff;
    /* cách 1 chiều ngang = chiều cửa sổ*/
    /* width: 100%; */

    /* cách 2 cả 2 mép đều sát 2 bên*/
    /* left: 0;
    right: 0; */

    /* cách 3 */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-heading {
    /* mỏng chữ lại */
    font-weight: 500;
    font-size: 24px;
    text-shadow: 0 0 4px #000;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 4px #000;
}

#content {
}

.content-section {
    width: 800px;
    max-width: 100%;
    /* Căn giữa */
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    padding-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
.about-text {
    padding-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 32px;
    /* tránh cho .member-list bị co lại khi member-item dùng float: left */
    /* overflow: hidden; */
    /* or dùng (tạo 1 class clear CSS cho class clear là clear: both  */
}

#content .member-name {
    margin: 15px 0;
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour section */
.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    background-color: #000;
    color: #fff;
    float: right;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
/* Places */

.places-list {
    margin-top: 16px;
}

.place-img {
    width: 100%;
    display: block;
}
.place-img:hover {
    opacity: 0.6;
}
.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-name {
    font-size: 15px;
    font-weight: 600;
}

.place-date {
    margin-top: 15px;
    opacity: 0.7;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}



/* Contact form */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-info a {
    color: #101aef;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.form-submit-btn {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    border: none;
    padding: 10px 16px;
    float: right;
}

.form-submit-btn:hover{
    background-color: #ccc;
    color: #000;
}
/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
    max-width: calc(100% - 32px);
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}

.modal-close:hover {
    background-color: #d4cdcd;
}

.modal-header {
    height: 129px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.icon-margin-right {
    margin-right: 16px;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

#buy-tickets:hover {
    background-color: #ccc;
    color: #000;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196f3;
}

.modal.open {
    display: flex;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.map-section img{
    width: 100%;
}

/* Footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list{
    font-size: 24px;
}

#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}